.header{
    display: flex;
    justify-content: space-between;
}

    
.first{
    background-color: pink;
    display: flex;
    height: 50px;
    width:60vh;
}

.middle{
    background-color: lightblue;
    height: 50px;
    width:80vh;
}
.last{
    background-color: pink;
    height: 50px;
    width:60vh;
}
.div1{
    display: ;
    height: 200px;
    width: 200px;
    background-color: red;
    display: flex;
    flex-direction: row;
    
}
.div2{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 132);
    display: flex;

}
.sidebar{
    margin-bottom: 0px;
    display: inline-block;

}
.divbox{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 100px;
}